@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1600px;
  --breakpoint-2xl: 1920px;
}

a {
  @apply text-neutral-900 underline decoration-neutral-500 decoration-dotted decoration-1 underline-offset-4 hover:decoration-neutral-900 hover:decoration-solid hover:decoration-1 dark:text-neutral-200 dark:decoration-neutral-400 dark:hover:decoration-neutral-200;
}
